<footer>
	<nav class = "round">
		<ul>
			<li><%= link_to "About", about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
		</ul>
		<ul>
			<li><%= Micropost.count %> tweets and counting! Not long till we hit our first million!</li>
		</ul>
	</nav>
</footer>